<!--




<body class="default_bg">
	<div class="default_bg_overlay">

		<!-- Menu

	<!--	{%include 'header.html'%}

		<div class="container">

			<div class="row text_margin_error">
				<div class="col s12">
					<center>
							<font class="panton-bold title_color" size="6">{{textError}}</font>
					</center>
					<br>
					<center>
						<font class="panton-bold" size="5">
						<a href="{{url_for('admin.logout')}}" class="a_style_error">Clique aqui para voltar</a>
          <h3> Erro!</h3>

						</font>
					</center>
				</div>
			</div>

		</div>

Footer 

			{% include 'footerBefore.html' %}

	</div>
</body>
</html>

-->
