{% include "base.html" %}

{% block content %}
<link type="text/css" rel="stylesheet" media="screen" href="static/css/style.css" />
<div id="conteudo"><!-- abrimos a div conteudo -->
</div>
<div id="conteudo-left">



<font size="5">Login!</font>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>

    </form>
</div>

  <div id="conteudo-right">
    <font size="5">Login!</font>

    <p>Novo na plataforma? <a href="{{ url_for('register') }}">Clique aqui para se registrar!</a></p>




  </div>
{% endblock %}

{% include "footer.html" %}
